<mat-drawer-container class="container-drawer" [hasBackdrop]="true">
    <mat-drawer class="sidenav" #navbar [mode]="over">
        <table style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
            <tr>
                <td style="padding-left: 12px;width: 55px;"><div class="circle-avatar"> <span class="text-avatar">{{this.data['keyUser']}}</span></div></td>
                <td style="padding-left: 12px; padding-right: 18px;"><div class="text-name">{{this.data['nameUser']}} <br><div style="font-size: 12px;">{{this.data['emailUser']}}</div></div></td>
            </tr>
        </table>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a (click)="navbar.toggle()" [attr.tabindex]="-1" [routerLinkActive]="['is-active']" mat-list-item routerLink="./dashboard"><mat-icon color="primary">dashboard</mat-icon>&nbsp; Home</a>
            <a (click)="navbar.toggle()" [attr.tabindex]="-1" [routerLinkActive]="['is-active']" mat-list-item routerLink="./category"><mat-icon color="primary">style</mat-icon>&nbsp; Category</a>
            <a (click)="navbar.toggle()" [attr.tabindex]="-1" [routerLinkActive]="['is-active']" mat-list-item routerLink="./article"><mat-icon color="primary">file_copy</mat-icon>&nbsp; Article</a>
            <a (click)="navbar.toggle()" [attr.tabindex]="-1" [routerLinkActive]="['is-active']" mat-list-item routerLink="./users"><mat-icon color="primary">account_circle</mat-icon>&nbsp; Manage Users</a>
            <a (click)="navbar.toggle()" [attr.tabindex]="-1" [routerLinkActive]="['is-active']" mat-list-item routerLink="./settings"><mat-icon color="primary">settings_applications</mat-icon>&nbsp; Setting</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a (click)="logout()" [attr.tabindex]="-1" [routerLinkActive]="['is-active']" mat-list-item><mat-icon color="primary">logout</mat-icon>&nbsp; Logout</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar [class.mat-elevation-z4]="true" style="height: 50px" color="primary" *ngIf="!router['url'].includes('/login')">
            <button mat-icon-button [attr.tabindex]="-1" (click)="navbar.toggle()"><mat-icon>menu</mat-icon></button>
            <img src="assets/images/logo-nav.png" style="width: 150px;">
            <button (click)="open.click()" mat-flat-button [attr.tabindex]="-1" color="primary" style="margin-inline-start: auto; border: 1px solid;" >
                <a href="https://dazelpro.my.id/" target="_blank" #open [attr.tabindex]="-1" hidden></a>Open Website
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>