.mat-card {
	margin-top: 20px;
	padding: auto;
}

.overview {
	margin-top: 50px;
}

.box-overview {
	width: 100px; 
	height: 100px; 
	padding: 15px; 
	background-color: #3F51B5; 
	margin-top: -50px; 
	border-radius: 5px;
}