.mat-card {
	margin-top: 100px;
}

.mat-btn {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
}

.mat-input {
    text-align: center;
}

.form-field {
    width: 100%;
    height: 75px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.img-login {
    width: 45%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}